---
-  name: Install and configure granfana
   hosts: clients
   become: true

   vars:
     grafana_http_port: 3000
     grafana_domain: "CharlieGreyTeam"
     grafana_root_url: "http://{{grafana_domain}}: {{grafana_http_port}}/"
     grafana_admin_user: admin
     grafana_admin_password: "Password123!" # change this!!

   tasks:
    - name: Install prerequisite packages
      apt:
        name:
          - apt-transport-https
          - software-properties-common
          - wget
          - gnupg
        state: present
        update_cache: true

    - name: Add Grafana GPG key
      apt_key:
        url: https://apt.grafana.com/gpg.key
        state: present

    - name: Add Grafana APT repository
      apt_repository:
        repo: "deb https://apt.grafana.com stable main"
        state: present
        filename: grafana

    - name: Install Grafana
      apt:
        name: grafana
        state: present
        update_cache: true

    - name: Configure grafana.ini (minimal settings)
      lineinfile:
        path: /etc/grafana/grafana.ini
        regexp: "^;?{{ item.key }} ="
        line: "{{ item.key }} = {{ item.value }}"
        backrefs: false
      loop:
        - { key: "http_port", value: "{{ grafana_http_port }}" }
        - { key: "domain", value: "{{ grafana_domain }}" }
        - { key: "root_url", value: "{{ grafana_root_url }}" }
      notify: Restart grafana

    - name: Ensure Grafana is enabled and running
      systemd:
        name: grafana-server
        enabled: true
        state: started

   handlers:
    - name: Restart grafana
      systemd:
        name: grafana-server
        state: restarted
